<!DOCTYPE html>
<html>
  <head>
    <title>Dark Squares</title>
    <meta name="description" content="A community for sharing and collaboratively annotating chess games."/>

    <%= favicon_link_tag "/favicon.ico" %>

    <% if Rails.env.production? %>
      <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
    <% else %>
      <%= stylesheet_link_tag "/assets/fonts.css" %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%# javascript_include_tag 'application' %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
